$primary: #8152A5;
$secondary: #868492;
$light: #eeeeee;
$success: #30bc9f;
$danger: #9d3e59;
$dark: #333a44;
$body-bg: #fafafa;
$border-radius: 0px;
$warning: #dbc481;
$table-cell-padding: 0.3rem;
$table-cell-padding: 0.4rem;
$input-bg: darken($light, 5);
$input-border-color: $light;
$input-color: $primary;
$input-disabled-bg: lighten($dark, 10);
$custom-control-label-color: $primary;
$hr-border-color: $primary;

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "~bootstrap-vue/src/index.scss";

html, body, #app, #app .container-fluid {
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  right: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: $dark;
}